body {
    background: linear-gradient(135deg, #000000, #1a1a1a);
    font-family: "Segoe UI", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #ffd700;
}

.card {
    background: #111;
    width: 430px;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 0 30px rgba(255, 215, 0, 0.25);
    text-align: center;
}

textarea {
    width: 100%;
    height: 120px;
    background: #000;
    color: #ffd700;
    border: 2px solid #ffd700;
    border-radius: 10px;
    padding: 10px;
    resize: none;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background: #ffd700;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

audio {
    width: 100%;
    margin-top: 15px;
}

#info {
    margin-top: 10px;
    font-size: 13px;
    color: #bfa600;
}

a {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #ffd700;
    border-radius: 10px;
    color: #ffd700;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

a:hover {
    background: #ffd700;
    color: #000;
}

.footer {
    margin-top: 12px;
    font-size: 12px;
    color: #bfa600;
}

/* LOADING */
#loading {
    margin-top: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
}

.spinner {
    width: 42px;
    height: 42px;
    border: 4px solid rgba(255, 215, 0, 0.2);
    border-top: 4px solid #ffd700;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 8px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* BAŞLANGIÇTA GİZLİ OLANLAR */
#audio,
#info,
#download-wav,
#download-mp3 {
    display: none;
}
